.main{
    width: 500px;
    height: 150px;
    background-color: red;
    color: rgb(232, 144, 144);
    font-size: 35px;
    text-align: center;
    font-family: verdana;

/* 
when someone apply same properties to the whole website then in this he must use external stylesheet.
 */
}
/* hover: used to grow user interaction */
.main:hover{
    background-color: aqua;
    color: black;
    width: 200px;
    height: 200px;
}